body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

/* Navbar */

.navbar.navbar-default {
    background: #1d4e5e;
    color: white;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.btn.btn-info.btn-md {
    background: #11C4A7;
    border-color: #01aa91 #01aa91 #017766;
}

#compte {
    margin-right: 5%;
    margin-left: 70%;
    margin-top: 1%;
    letter-spacing: 1px;
}

#connect {
    margin-top: 4.5%;
    letter-spacing: 1px;
}

#aide {
    color: white;
}

/* Première partie */

#titre {
    font-weight: bold;
    margin-bottom: 45px;
}

#sousTitre {
    margin-bottom: 5%;
}

.jumbotron {
    color: black;
    text-align: left;
}

/* JUM 1*/

#jum1 {
    margin-left: 25%;
}

#recherche {
    margin-left: 31%;
}

#réduc {
    font-size: 10px;
}

/* JUM 2 */

#jum2 {
    margin-right: 25%;
}

#lesPlus {
    font-weight: bold;
    /* margin-top: -5%; */
}

#img1 {
    background: center no-repeat #21314D;
}

/* background: #21314D; */

.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}